* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 
font-family: 'Manrope', sans-serif;
font-family: 'noto-serif', serif;
*/

.container {
  max-width: 1200px;
  margin: 5rem auto;
}
.container--rightSided {
  margin-right: 0;
  padding-right: 0 !important;
  max-width: 80%;
}
.container--leftSided {
  margin-left: 0;
  padding-left: 0 !important;
  max-width: 80%;
}
.ImgTextSection--rightSided {
  display: flex;
  justify-content: flex-end;
  margin: 5rem auto;
}
.ImgTextSection--leftSided {
  display: flex;
  justify-content: flex-start;
}
/*? Flex */
.flexCenterCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexCenterCenterColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flexCenterStart {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.flexCenterStartColumn {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
/*? Grid */
.twoWayGrid,
.threeWayGridCenterStart,
.fourWayGridCenterStart {
  display: grid;
}
.twoWayGrid {
  grid-template-columns: repeat(2, 1fr);
}
.threeWayGridCenterStart {
  grid-template-columns: repeat(3, 1fr);
}
.fourWayGridCenterStart {
  grid-template-columns: repeat(4, 1fr);
}
.threeWayGridCenterStart,
.fourWayGridCenterStart {
  justify-items: center;
  align-items: flex-start;
}

/*? Utilities */
.button {
  display: inline-block;
  font-weight: 500;
  text-decoration: none;
  padding: 0.5rem;
  font-family: "Manrope", sans-serif;
}

/*! Header Section Start */

.headerSection {
  min-height: 8vh;
  background-color: #fff;
  border-bottom: 1px solid #f7f7f7;
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 5rem;
}

.headerLinkList {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.headerLinkListItem {
  font-family: "Manrope", sans-serif;
  color: #000;
  font-size: 1rem;
  position: relative;
  cursor: pointer;
  padding: 2rem 0;
}
.headerLinkListItem a {
  text-decoration: none;
  color: #000;
}

.headerLinkListInnerList {
  min-width: 10rem;
  list-style: none;
  background-color: #fff;
  position: absolute;
  top: 4.5rem;
  left: -1rem;
  padding: 0.75rem 0.25rem;
  display: none;
}

.headerLinkListInnerListItem {
  font-size: 1rem;
  line-height: 1.2rem;
  padding: 1rem 0.25rem;
  cursor: pointer;
}

.headerLinkListItem:hover .headerLinkListInnerList {
  display: block;
}

/*! Header Section End */

/*! HomepageHero Section Start */

.heroSection {
  background: url(../../img/homepageImg/homepageHeroBg.jpg) center center no-repeat;
  background-size: cover;
  max-width: 100%;
  min-height: 92vh;
}
.heroInfoDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.homepageHeroLogoDiv {
  max-width: 20rem;
  margin-bottom: 1rem;
}
.homepageHeroLogoImg {
  width: 100%;
}
.heroHeading {
  font-family: "noto-serif", serif;
  font-weight: 500;
  font-size: 4.5rem;
}
.heroSubHeading {
  font-size: 1.75rem;
  font-family: "Manrope", sans-serif;
}
.heroButton {
  margin: 2rem 0 1rem;
  color: #fff;
  font-size: 1.25rem;
  border: 2px solid #fff;
}

/*! HomepageHero Section End */

/*! ImgText Section Start */

.ImgTextContent {
  padding: 0 5rem;
  gap: 2rem;
}

.ImgTextImgSide,
.ImgTextTextSide {
  flex: 1;
}

.ImgTextTextSideHeading {
  font-family: "noto-serif";
  font-weight: 300;
  font-size: 2.7rem;
  margin-bottom: 4rem;
  color: rgba(0, 0, 0, 0.6);
}
.ImgTextTextSideDesc {
  font-family: "Manrope", sans-serif;
  font-weight: 300;
  font-size: 0.95rem;
  line-height: 2rem;
  padding-bottom: 1rem;
  color: #000;
}

.ImgTextImgSideImgDiv {
  max-width: 90%; /* 27rem */
  margin-left: auto;
}
.ImgTextImgSideImgDiv--leftSidedImg {
  margin-right: auto;
  margin-left: 0;
}
.ImgTextImg {
  width: 100%;
}

/*! ImgText Section End */

/*! mediterraInfo Section Start */

.mediterraInfoContent {
  padding: 0 5rem;
}

.mediterraInfoTitleSide,
.mediterraInfoDescSide {
  flex: 1;
}

.mediterraInfoTitle {
  font-family: "noto-serif", serif;
  font-weight: 400;
  font-size: 3rem;
}
.mediterraInfoDesc {
  font-family: "Manrope", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  line-height: 2.7rem;
  max-width: 35rem;
}
.mediterraInfoButton {
  margin: 1rem 0 1rem;
  color: #000;
  font-size: 1rem;
  border: 1px solid #000;
}

/*! mediterraInfo Section End */

/*! propertySelection Section Start */

.propertySelectionSection {
  background-color: #412a28;
  display: flex;
  padding: 3rem 0;
  justify-content: flex-end;
  width: 100%;
}

.propertySelectionContent {
  width: 100%;
  max-width: 1480px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.propertySelectionPropertySide {
  width: 30%;
}
.propertySelectionImgSide {
  width: 70%;
}

.propertySelectionPropertySide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4rem;
}

.propertySelectionList {
  list-style: none;
  color: #fff;
}

.propertySelectionListItem {
  font-family: "Manrope", sans-serif;
  font-size: 2rem;
  color: #8e8584;
  position: relative;
  cursor: pointer;
}

.propertySelectionListItem--active {
  color: #fff;
  opacity: 1;
}

.propertySelectionListItem--active::before {
  content: " ";
  width: 0.2rem;
  height: 2.2rem;
  background-color: #fff;
  position: absolute;
  top: 0.7rem;
  left: -1rem;
}

.propertySelectionLogoDiv {
  max-width: 5rem;
}
.propertySelectionLogoImg {
  width: 100%;
}

.propertySelectionButton {
  margin: 1rem 0 1rem;
  font-family: "Manrope", sans-serif;
  color: #fff;
  font-size: 1.25rem;
  border: 1px solid #fff;
}

.swiperPaginations {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 2rem;
}

.propertySelectionSliderDesc {
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3rem;
  max-width: 38.5rem;
}

.swiper-button-next {
  position: relative;
  top: 0rem;
  left: 2rem;
}
.swiper-button-prev {
  position: relative;
  top: 0rem;
  left: -2rem;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: #fff;
  font-size: 0.8rem;
  font-weight: bold;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 1;
}

.swiper {
  width: 100%;
  height: 100%;
  position: relative;
  padding-bottom: 1rem;
}
.swiper-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  max-width: 20.75rem;
  max-height: 24.5rem;
  width: 100%;
  overflow: hidden;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 100%;
}

/*! propertySelection Section End */

/*! Footer Section Start */

.mediterraFooterContent {
  flex-direction: column;
  padding: 4rem 0;
}
.mediterraFooterLogoDiv {
  max-width: 4rem;
}
.mediterraFooterLogoImg {
  width: 100%;
}
.mediterraFooterHeading {
  font-family: "noto-serif", serif;
  font-weight: lighter;
  font-size: 2rem;
  padding: 0.5rem 0;
}
.mediterraFooterSubHeading {
  font-family: "Manrope", sans-serif;
  font-weight: lighter;
  font-size: 1rem;
}

/*! Footer Section End */

/*! About Us Section Start */

.heroSectionSidePage {
  background: url(../../img/aboutImg/aboutusHeroBg.png) center center no-repeat;
  background-size: cover;
}
.heroHeadingSidePage {
  font-weight: 300;
  font-family: "Manrope", sans-serif;
}
.heroSubHeadingSidePage {
  font-weight: 500;
  font-family: "Manrope", sans-serif;
}

.HeadingDescContent {
  padding: 2rem 0;
}

.HeadingDescHeadingSide,
.HeadingDescDescSide {
  flex: 1;
}
.HeadingDescHeadingSideHeading {
  font-family: "noto-serif", serif;
  color: #534e4b;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 3.2rem;
  text-align: center;
}
.HeadingDescDesc {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  color: #000;
  line-height: 1.8rem;
  padding-bottom: 1.2rem;
}

/*! OurTeam Section Start */

.ourHeadingTitleDiv {
  text-align: center;
}
.ourTeamMainHeading {
  font-family: "noto-serif", serif;
  color: #534e4b;
  font-size: 2.25rem;
  font-weight: 300;
  line-height: 3rem;
}
.ourTeamSubHeading {
  font-family: "Manrope", sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
  color: #000;
  line-height: 1.1rem;
}
.ourTeamCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem 0;
}
.ourTeamCard {
  width: 13.5rem;
}
.ourTeamCardName,
.ourTeamCardDepartmant {
  font-family: "noto-serif", serif;
  color: #534e4b;
  font-weight: 400;
}
.ourTeamCardName {
  font-size: 1rem;
  line-height: 1.25rem;
  text-align: left;
}
.ourTeamCardDepartmant {
  font-size: 0.75rem;
  line-height: 0.9rem;
}
.ourTeamCardInfoDiv {
  width: 90%;
  margin: 0 auto;
}
/*! OurTeam Section End */

/*! About Us Section End */

/*! Culture Section Start */

.VerticalImgTextContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 5rem;
}

.VerticalImgTextCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.VerticalImgTextImgDiv,
.VerticalImgTextHeading,
.VerticalImgTextDesc {
  width: 75%;
  margin: 0 auto;
}
.VerticalImgTextHeading {
  font-family: "noto-serif", serif;
  color: #534e4b;
  font-weight: 300;
  font-size: 2.1rem;
  padding: 1rem 0;
}
.VerticalImgTextDesc {
  font-family: "Manrope", sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
  color: #000;
  line-height: 1.75rem;
}

.VerticalImgTextImg {
  width: 100%;
}
/*! Culture Section End */

/*! Nature Section Start */

.BannerImg {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

/*! Nature Section End */

/*! Design Foundation Page Start */

.BigSizeDescContent {
  font-family: "Manrope", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  color: #000;
  line-height: 2.7rem;
}
.ImgTextContent--ExtraGap {
  gap: 5rem;
}
.ImgTextTextSide--DesignFoundationSquareImg {
  flex-direction: column;
  margin-top: 3rem;
}
.MediumSizeDescContent {
  font-family: "noto-serif", serif;
  color: #534e4b;
  font-weight: 300;
  font-size: 1.8rem;
  padding: 1rem 0;
  justify-content: flex-start;
}

/*! Design Foundation Page End */

/*! Mediterra Page Start */

.BigSizeDescContent--brown {
  color: #412a28;
  padding-bottom: 1rem;
}
.dividerHeadingContent {
  padding: 0 5rem;
}
.dividerHeadingTitle {
  font-family: "noto-serif", serif;
  color: #534e4b;
  font-weight: 300;
  font-size: 2.2rem;
  line-height: 3rem;
}
.dividerHeadingDesc {
  font-family: "Manrope", sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
  color: #000;
  line-height: 2.7rem;
}
.ImgTextImgSideLittleImgDiv {
  display: flex;
  gap: 0.25rem;
}
.ImgTextImgSideLittleImg {
  width: 100%;
  flex: 1;
}
.ImgTextImgSideImgDiv--multipleImage {
  max-width: 100%;
}
.ImgTextTextSideHeading--multipleImage {
  margin-bottom: 0.5rem;
}

/*! Mediterra Page End */

/*! Properties Page Start */
.featureListHeading {
  font-family: "noto-serif", serif;
  color: #534e4b;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 1.2rem;
}
.featureListHeading--hidden {
  visibility: hidden;
}
.featureListContent {
  gap: 2rem;
  padding: 0 5rem;
}
.featureList {
  list-style: none;
}
.featureListItem {
  font-family: "Manrope", sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
  color: #000;
  line-height: 2.7rem;
}

.ImgTextTextSideHeading--imgUnderDesc {
  margin-bottom: 2rem;
}

.ImgTextTextSideHeading--imgUnderDescNumber {
  font-size: 1.75rem;
  position: relative;
  top: -0.7rem;
}
.imgUnderDescNumberImg {
  width: 100%;
}
.ImgTextImgSideImgDiv--imgUnderDesc {
  max-width: 100%;
}
/*! Properties Page End */

/*! History Section Start */

.heroSectionSidePage--history {
  background: url(../../img/historyImg/historyImg_1.jpg) center center no-repeat;
  background-size: cover;
}
.twoColDescContent {
  gap: 4rem;
}
.twoColDescText {
  font-family: "Manrope", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: #000;
  line-height: 1.7rem;
}

/*! History Section End */

/*! Useful Information Section Start */

.LinkTabContent {
  margin: 2rem auto;
}
.LinkTabList {
  list-style: none;
  gap: 2rem;
}

.LinkTabListItem {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #534e4b;
  line-height: 1.1rem;
  cursor: pointer;
}
.LinkTabListItem--active {
  border-bottom: 1px solid #534e4b;
  padding-bottom: 0.5rem;
}

.iconBoxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 2.5rem;
  padding: 0 8rem;
}
.iconBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #e8e8e8;
  padding: 2rem 1rem;
  text-align: center;
  width: 100%;
}
.iconBoxHeading {
  font-family: "noto-serif", serif;
  color: #534e4b;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding: 1rem 0 1rem;
}
.iconBoxSubHeading {
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  padding: 0.5rem;
}
.iconBoxImg {
  width: 50%;
}

/*! Useful Information Section End */

/*! Climate Section Start */

.iconCardSection {
  padding: 0rem 0 1rem;
}
.iconCardSection--grayBg {
  background-color: #fcfcfc;
}
.iconCardContent {
  padding: 0rem 0 2.5rem;
  margin: 2rem auto;
}
.iconCard {
  background-color: #fff;
  width: 90%;
  border: 1px solid #e8e8e8;
}
.iconCardMainHeading {
  font-family: "noto-serif", serif;
  text-align: center;
  color: #534e4b;
  font-weight: 300;
  font-size: 2.25rem;
  line-height: 3rem;
  padding: 4rem 0 3rem;
}
.iconCardDayTime {
  font-family: "noto-serif", serif;
  font-weight: 400;
  text-align: center;
  color: #534e4b;
  font-size: 1rem;
  line-height: 1.25rem;
  padding: 1rem 0;
}
.iconCardDegree {
  font-family: "Manrope", serif; /* Helvetica Nue */
  font-size: 3rem;
  font-weight: 200;
  text-align: center;
  color: #534e4b;
  line-height: 3.5rem;
  padding: 1rem 0;
}
.iconCardImgDiv {
  text-align: center;
}
.iconCardImg {
  width: 60%;
  min-width: 4rem;
}
.iconCardWetnessDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
.iconCardWetnessValue {
  font-family: "Manrope", serif; /* Helvetica Nue */
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: #534e4b;
  line-height: 1.2rem;
  padding: 1rem 0;
}
.iconCardWetnessImg {
  width: 70%;
  min-width: 1rem;
}

/*! Climate Section End */

/*! Access Section End */

.HeadingDescSection--access .HeadingDescHeadingSideHeading {
  text-align: left;
}
.mapImgDiv {
  position: relative;
}
.mapImg {
  width: 100%;
}
.mapInfoRectangleDiv {
  position: absolute;
  bottom: 1.75rem;
  left: 1.75rem;
  background-color: #fff;
  width: 30%;
  padding: 1rem;
}
.mapInfoRectangleUpperDiv {
  display: flex;
  justify-content: space-between;
}
.mapInfoRectangleHeading {
  font-family: "noto-serif", serif;
  font-weight: 300;
  color: #000;
  font-size: 1rem;
  line-height: 1.2rem;
}
.mapInfoRectangleCloseBtn {
  background: none;
  border: none;
  outline: none;
  font-family: "Manrope", serif; /* Helvetica Nue */
  font-size: 0.9rem;
  font-weight: 300;
  color: #000;
  line-height: 1.2rem;
  text-decoration: underline;
}
.mapInfoRectangleCompanyHeadingDiv,
.mapInfoRectangleDayHeadingDiv,
.mapInfoRectangleFreqHeadingDiv,
.mapInfoRectangleDurationHeadingDiv {
  display: flex;
  font-family: "Manrope", serif; /* Helvetica Nue */
  font-size: 0.9rem;
  font-weight: 300;
  color: #000;
  line-height: 1.2rem;
  gap: 0.25rem;
  padding: 0.125rem 0;
}
.mapInfoRectangleMiniDiv {
  margin-top: 1rem;
}

.rightListDiv {
  background-color: #fff;
  position: absolute;
  bottom: 1.75rem;
  right: 1.75rem;
}
.upperRightList,
.mainRightList,
.mainRightInnerList {
  list-style: none;
}
.upperRightList {
  display: flex;
  padding: 1.25rem 1.5rem;
  gap: 2rem;

  border-bottom: 1px solid #f3f3f3;
}
.upperRightListItem {
  font-family: "Manrope", serif; /* Helvetica Nue */
  font-size: 0.8rem;
  font-weight: 400;
  color: #412a28;
  line-height: 1rem;
  padding-bottom: 1px;
}
.upperRightListItem--active {
  border-bottom: 1px solid #412a28;
}
.mainRightListItem,
.mainRightInnerListItem {
  font-family: "Manrope", serif; /* Helvetica Nue */
  font-size: 0.8rem;
  font-weight: 400;
  color: #412a28;
  line-height: 1rem;
  padding: 0.5rem 0.75rem;
  border-bottom: 1px solid #f3f3f3;
  cursor: pointer;
}
.mainRightListItem--active {
  border-bottom: none;
}
.mainRightInnerListItem {
  border: none;
}
.mainRightInnerListItem:last-child {
  border-bottom: 1px solid #f3f3f3;
}
.mainRightInnerListItem--active {
  color: #ff5ab3;
}

/*! Access Section End */

/*! Access Section Start */

.HeadingDescSection--alsancak .HeadingDescHeadingSideHeading {
  text-align: center;
}

/*! Access Section End */

/** Media Quaries Start */

@media (max-width: 1250px) {
  .ImgTextContent {
    gap: 1rem;
  }
  .ImgTextContent,
  .dividerHeadingContent,
  .BigSizeDescContent {
    padding: 1rem;
  }
  .ImgTextTextSideHeading {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .ImgTextTextSideDesc {
    font-size: 1rem;
  }
  .ImgTextImgSideImgDiv {
    margin-left: 0;
  }
  .BigSizeDescContent {
    font-size: 1.5rem;
  }
}
@media (max-width: 768px) {
  .container {
    margin: 2.5rem auto;
  }
  .ImgTextContent {
    flex-direction: column;
  }
  .ImgTextTextSide {
    order: 1;
  }
}

/** Media Quaries End */
